{% extends 'Files/base.html' %}

{% block title %}Menu{% endblock %}

{% block content %}
    <p><button type="button" class="btn btn-primary btn-lg"><a href="/meals">Posiłek</a></button></p>

    <p><button type="button" class="btn btn-primary btn-lg"><a href="/note">Notes</a></button></p>

    <p><button type="button" class="btn btn-primary btn-lg"><a href="/element">Składniki posiłku</a></button></p>

    <p><button type="button" class="btn btn-primary btn-lg"><a href="/user">Dane użytkownika</a></button></p>

    <p><button type="button" class="btn btn-primary btn-lg"><a href="/diet">Dieta</a></button></p>

    <p><button type="button" class="btn btn-primary btn-lg"><a href="/add_user">Nowy użytkownik</a></button></p>

    <p><button type="button" class="btn btn-primary btn-lg"><a href="/">Powrót</a></button></p>
{% endblock %}